.home-container {
    background-color: rgb(0,0,0,0.5);
    margin: 0 auto;
    width: 50%;
    color: white;
}

.home-container-heading-top {
    font-size: 6em;
    margin-bottom: -90px;
}

.home-container-heading-btm {
    font-size: 6em;
}