.portfilio-item-container {
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 10px;
    max-width: 290px;
    background-color: rgb(0,0,0,0.75);
    color: white;
}

.portfilio-item-title {
    text-align: center;
    font-size: 2em;
}

.portfilio-item-description {
    padding: 0 15px;
}

.portfilio-item-img-container {
    border: 1px solid white;
    text-align: center;
}

.portfilio-item-img {
    width: 200px;
}

.portfolio-item-btn-container {
    background-color: rgb(0,0,0,0.5);
}

.portfolio-item-btn-item {
    width: 50%;
}

